<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success"[routerLink]="['/agregar-producto']" >Agregar Producto</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-searchbar (ngModelChange)="getProducto($event)"[(ngModel)]="busqueda"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ngx-datatable class="material" [rows]="productos" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" rowHeight="auto" [limit]="10">
                <ngx-datatable-column name="Id">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-label>{{row.id}}</ion-label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-label>{{row.nombre}}</ion-label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Descripcion">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-label>{{row.descripcion}}</ion-label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Stock">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-label>{{row.stock}}</ion-label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Precio Venta">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-label>{{row.precioVenta}}</ion-label>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Detalles">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <ion-button color="primary">
                      <ion-icon name="chevron-forward-circle-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
