<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="AgregarClienteFrom">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">nombres</ion-label>
            <ion-input formControlName="nombres"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">apellidos</ion-label>
            <ion-input formControlName="apellidos"></ion-input>
          </ion-item>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Direccion</ion-label>
            <ion-input formControlName="direccion"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Telefono</ion-label>
            <ion-input formControlName="telefono"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Correo</ion-label>
            <ion-input formControlName="correo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  </form>  
</ion-content>
  <ion-button expand="block" (click)="guardar() "color="success">
    Guardar
</ion-button>
