<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="edit = true" > editar
        <ion-icon name="create-outline" slot="end"></ion-icon>
      </ion-button>
  </ion-buttons>
    <ion-title>Editar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="clienteForm">
    <ion-grid>
      <ion-row>
        <ion-title>Id Cliente: {{cliente?.id}}</ion-title>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">nombres</ion-label>
            <ion-input formControlName="nombres" [disabled] = "!edit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">apellidos</ion-label>
            <ion-input formControlName="apellidos"[disabled] = "!edit"></ion-input>
          </ion-item>
        </ion-col>  
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Direccion</ion-label>
            <ion-input formControlName="direccion"[disabled] = "!edit"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Telefono</ion-label>
            <ion-input formControlName="telefono"[disabled] = "!edit"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Correo</ion-label>
            <ion-input formControlName="correo"[disabled] = "!edit"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  </ion-grid>
  </form>  
</ion-content>
 <ion-button expand="block" (click)="editAlert()"color="success"[disabled] = "!edit">
    Guardar
</ion-button> 
